@import "modern-css-reset";

:root {
  --bg: #2b2b2c;
  --bg-light: #565658;
  --bg-decoration: #69696a;

  --text: #bcbcbc;
  --text-light: #ffffff;
  --text-focus: #5cdfff;
  --text-primary: #15c969;
}
