@import "modern-css-reset";

:root {
  /* color */
  --bg: #2b2b2c;
  --bg-cover: #2b2b2c99;
  --bg-light: #56565819;
  --bg-decoration: #69696a;

  --text: #bcbcbc;
  --text-light: #ffffff;
  --text-focus: #5cdfff;
  --text-primary: #15c969;

  /* layout */
  --max-width: 100%;
  --padding-x: 1rem;
  --padding-y: 0.75rem;
  --title-size: 1rem;
  --font-size: 0.75rem;
  --border-radius: 0.375rem;
}

@media (min-width: 420px) {
  :root {
    --max-width: 100%;
    --padding-x: 1rem;
    --padding-y: 0.75rem;
    --title-size: 1rem;
    --font-size: 0.75rem;
    --border-radius: 0.375rem;
  }
}

@media (min-width: 640px) {
  :root {
    --max-width: 100%;
    --padding-x: 2rem;
    --padding-y: 0.75rem;
    --title-size: 1.125rem;
    --font-size: 0.875rem;
    --border-radius: 0.5rem;
  }
}

@media (min-width: 768px) {
  :root {
    --max-width: 100%;
    --padding-x: 3rem;
    --padding-y: 1rem;
    --title-size: 1.25rem;
    --font-size: 1rem;
    --border-radius: 0.75rem;
  }
}

@media (min-width: 1024px) {
  :root {
    --max-width: 100%;
    --padding-x: 4rem;
    --padding-y: 1rem;
    --title-size: 1.5rem;
    --font-size: 1rem;
    --border-radius: 1rem;
  }
}

@media (min-width: 1280px) {
  :root {
    --max-width: 1280px;
    --padding-x: 5rem;
    --padding-y: 1.25rem;
    --title-size: 1.5rem;
    --font-size: 1rem;
    --border-radius: 1rem;
  }
}

@media (min-width: 1536px) {
  :root {
    --max-width: 1280px;
    --padding-x: 6rem;
    --padding-y: 1.5rem;
    --title-size: 1.5rem;
    --font-size: 1rem;
    --border-radius: 1rem;
  }
}

body {
  font-family:
    "Inter",
    "Noto Sans SC",
    system-ui,
    -apple-system,
    "Segoe UI",
    Roboto,
    "Helvetica Neue",
    Arial,
    "Noto Color Emoji",
    "Apple Color Emoji",
    "Segoe UI Emoji";
}
